body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
h1 {
  text-align: center;
  font-size: 64px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
}
ul li:hover {
  background: #f1f1f1;
}
ul li p {
  flex-grow: 1;
  padding: 0;
  margin: 0 25px;
}
.input-text {
  outline: none;
  background: transparent;
  width: 100%;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  margin-bottom: 25px;
  padding: 0 15px;
  box-sizing: border-box;
}
.input-checkbox {
  display: none;
}
.color__blue {
  color: #000;
}
.color__blue:focus {
  border: 1px solid #000;
}
.delete-btn {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: url(./img/close.png) center / cover no-repeat;
}
.delete-btn:focus {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.checked {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: url(./img/tick.png) center / cover no-repeat;
}
.disabled {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  border-radius: 50%;
}


@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
}
